.hero {
    margin-top: 9.375rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 8rem;
    font-family: var(--font-family);
}

.hero_container {
    width: 100%;
    margin: auto;
    display: flex;
    padding: 1.25rem 6.25rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 4.3125rem;
}

.hero_container_info {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: auto;
}

.hero_container_info_inner {
    width: 35.5625em;
    align-items: flex-start;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
}


.hero_container_info div h1 {
    color: var(--dark-font-color);
    font-size: 4.0625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hero_container_info div h1 span {
    background: linear-gradient(95deg, #F05E22 0.55%, #FF9F77 33.77%, #CB7855 49.82%, #4E1C08 72.21%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

/* Text change animation */
.textAnimation {
    white-space: nowrap;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    transition-delay: 0.5s;
}

.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    transition-delay: 0s;
}

.hero_container div p {
    color: var(--dark-font-color);
    font-size: var(--medium-text-size);
    font-style: normal;
    font-weight: var(--light-font-weight);
    line-height: normal;
}

.hero_container a {
    text-decoration: none;
}

.hero_image {
    width: 36em;
    height: 40.3125em;
    display: flex;
}

.hero_image .hero_image_wrapper {
    width: 100%;
    height: auto;
    display: flex;
}

.hero_image .hero_image_wrapper {
    width: 100%;
    height: auto;
}

.hero_container_companies {
    width: 100%;
    margin: auto;
    display: flex;
    padding: 1.25rem 6.25rem;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: column;
    gap: 4.3125rem;
}

.hero_container_companies h2 {
    color: var(--dark-font-color);
    font-size: 2rem;
    text-align: center;
    font-style: normal;
    font-weight: var(--medium-font-weight);
    line-height: normal;
}

.hero_container_info_companies {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.comapnies_images {
    width: 10.4473125em;
    height: 4.668625em;
    display: flex;
}

.comapnies_images .comapnies_images_wrapper {
    display: flex;
    width: 100%;
    height: auto;
}

.comapnies_images .comapnies_images_wrapper img {
    width: 100%;
    object-fit: contain;
    height: auto;
}

/* body about */

.body {
    background-color: var(--green-background);
    color: var(--light-font-color) !important;
    display: flex;
    flex-direction: column;
    padding: 3.75rem 6.25rem;
}

.body_about {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 50%;
    gap: 1.9375rem;
}

.body_about_parent {
    gap: 1.9375rem;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.body_about div {
    width: 28.6875em;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
}

.body_about h1 {
    font-size: 3rem;
    font-style: normal;
    font-weight: var(--medium-font-weight);
    line-height: normal;
}

.body_about div p {
    color: var(--light-font-color) !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.body_about_cards {
    width: 47em;
    flex: 1;
    justify-content: flex-end;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    gap: 1.25rem;
}

.card {
    display: flex;
    background-color: var(--primary-color);
    width: 21.625em;
    height: 14.25em;
}

.svg_wrapper {
    width: 2.8125em;
    height: 2.8125em;
    display: flex;
}

.svg_wrapper img {
    width: 100%;
    height: auto;
}

.card p:nth-child(2) {
    font-size: var(--medium-text-size);
    font-style: normal;
    font-weight: var(--medium-font-weight);
    line-height: normal;
}

.card p:nth-child(3) {
    font-size: var(--medium-text-size);
    font-style: normal;
    font-weight: var(--light-font-weight);
    line-height: normal;
}

.body_features {
    flex-direction: column;
    align-items: center;
    gap: 8rem;
    width: 100%;
    color: var(--dark-font-color) !important;
    display: flex;
    padding: 3.75rem 6.25rem;
}

.body_features_inner {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    width: 100%;
}

.body_features .body_features_header h1 {
    font-size: 3rem;
    font-style: normal;
    text-align: center;
    font-weight: var(--medium-font-weight);
    line-height: normal;
}

.body_features_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 1.875rem;
    width: 53.4375em;
    text-align: center;
}

.body_features .body_features_header p {
    font-size: var(--medium-text-size);
    font-style: normal;
    font-weight: var(--light-font-weight);
    line-height: normal;
}

.body_features_main {
    width: 100%;
}

.body_features_main .body_features_main_wrapper {
    display: flex;
    gap: 1.25rem;
    margin-bottom: 1.75rem;
}

.body_features_main_first_card {
    width: 24.25em;
    height: 19.125em;
}

.body_features_main_second_card {
    width: 49.75em;
    height: 19.125em;
    flex: 1;
}

.body_features_main_first_card p:nth-child(2) {
    font-size: var(--medium-text-size);
    font-style: normal;
    font-weight: var(--medium-font-weight);
    line-height: normal;
}

.body_features_main_first_card p:nth-child(3) {
    font-size: var(--medium-text-size);
    font-style: normal;
    font-weight: var(--light-font-weight);
    line-height: normal;
}

.body_features_main_first_card p:nth-child(4) {
    font-size: var(--small-text-size);
    font-style: normal;
    font-weight: var(--medium-font-weight);
    line-height: normal;
    color: var(--primary-color);
}

.body_features_main_second_card p:nth-child(2) {
    font-size: var(--medium-text-size);
    font-style: normal;
    font-weight: var(--medium-font-weight);
    line-height: normal;
}

.body_features_main_second_card p:nth-child(4) {
    font-size: var(--small-text-size);
    font-style: normal;
    font-weight: var(--medium-font-weight);
    line-height: normal;
    color: var(--primary-color);
}

.body_features_main_second_card_inner {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.body_features_main_second_card_text {
    gap: 0.875rem;
    display: flex;
    flex-direction: column;
}

.body_features_main_second_card_inner_second {
    display: flex;
    gap: 1.25rem;
}

.body_features_main_second_card_inner p:nth-child(1) {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: var(--medium-font-weight);
    line-height: normal;
}

.body_features_main_second_card_inner p:nth-child(2) {
    font-size: var(--medium-text-size);
    font-style: normal;
    font-weight: var(--light-font-weight);
    line-height: normal;
}